body{
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    color: #4d4e53;
}

header{
    color: black;
    margin: 10px;
    font-size:1.8em;
    line-height: 2em;
    text-align: center;
}

#navbar{
    position: fixed;
    top: 0;
    left:0;
    width:300px;
    height: 100%;
    min-width: 290px;
    border-right: 4px solid rgba(0, 22, 22, 0.4);
    margin: 0;
    overflow-y:auto;


}

#navbar ul{
    padding-left: 0;
}

#nav_bar a{
    display: block;
    color: #4d4e53;
    text-decoration: none;
    text-align: left;
    padding:10px 30px;
    border-top: 1px solid #4d4e53;
    cursor: pointer;
}

#nav_bar li{
    list-style:none;
}



#main-doc{
  position: absolute;
  margin-left: 310px;
  padding:20px;
  margin-bottom: 110px;

}

#main-doc header{
    line-height: 1.5em;
    text-align: left;
    margin: 0;
}

section article{
    margin-left: 15px;
}

code{
    display: block;
    background-color: #f7f7f7;
    padding: 15px;
    margin:10px;
}

@media screen and (max-width: 1500px) {
    #main-doc {
         position: relative;
         left:300px;
         right:0;
         overflow-y: auto;
         overflow-x: hidden;
         text-overflow: inherit;
    }
}
